<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Ninjas</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css')}}">
    </head>
    <body>
        <h3>Ninjas</h3>
        <p>
            Ninjas are not what you would recognize from popular media. In fact, ninjas looked very
            ordinary. The reason for this is that if they looked ordinary, they could blend in with
            a crowd and would be able to get closer to their targets without being noticed.
        </p>
    </body>
</html>